*{
    margin: 0;
}

html{
 background: black;
}

body{
    width: 1920px;
    height: 1080px;
}

header{
    background-image: url("../res/img/titulo.jpg");
    background-repeat: no-repeat;
    position: absolute;
    left: 0px;
    width: 639px;
    height: 1080px;
    float: left;
}

main{
    width: 1487px;
    height: 1080px;
}

.descripcion{
    width: 550px;
    height: 141px;
    position: absolute;
}

@font-face{
    font-family: "Precio";
    font-stretch: expanded;
    src: url("../fuentes/MyriadPro-Bold.otf");
}

@font-face{
    font-family: "Articulo";
    font-stretch: expanded;
    src: url("../fuentes/MyriadPro-BoldCond.otf");
}
.centavo{
	width: 37px;
    height: 141px;
    font-family: "Precio";
    position: absolute;
    top: 0px;
    left: 174px;
    line-height: 110px;
    font-size: 25px;
    letter-spacing: 1px;
}

.money{
	padding: 21px 10px;
    width: 165px;
    height: 99px;
    font-family: "Precio";
    font-size: 85px;
    text-align: right;
    letter-spacing: -10px;
    line-height: 100px !important;
}

.articulo{
	position: absolute;
    top: 0px;
    left: 215px;
    width: 390px;
    height: 127px;
    font-family: "Precio";
    font-size: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#marco{
    width: 615px;
    position: absolute;
    height: 706px;
    top: 374px;
    left: 15px;
}
#espacio1{
	position: absolute;
    width: 641px;
    height: 142px;
    top: -3px;
    left: -15px;
}
#espacio2{
    position: absolute;
    width: 641px;
    height: 142px;
    top: 141px;
    left: -15px;
}
#espacio3{
    position: absolute;
    width: 641px;
    height: 144px;
    top: 285px;
    left: -15px;
}
#espacio4{
    position: absolute;
    width: 641px;
    height: 143px;
    top: 431px;
    left: -15px;
}
#espacio5{
    position: absolute;
    width: 642px;
    height: 130px;
    top: 576px;
    left: -15px;
}
#precio1{
    position: absolute;
    left: -12px;
}
#precio2{
    position: absolute;
    left: -12px;
}
#precio3{
    position: absolute;
    left: -12px;
}

#precio4{
    position: absolute;
    left: -12px;
}

#precio5{
    position: absolute;
    left: -12px;
}

video{
	width: 1274px;
    height: 638px;
    position: absolute;
}
#imag1{
	float: left;
}
.seccion{
	position: absolute;
    left: 639px;
    width: 1280px;
    height: 442px;
}
#secImag1{
	background-image:url("../res/img/precio1.png");
    background-repeat: no-repeat;
    width: 640px;
    height: 442px;
    position: absolute;
    top: 0px;
}
#secImag2{
	background-image:url("../res/img/precio2.png");
    background-repeat: no-repeat;
    width: 640px;
    position: absolute;
    top: 0px;
    left: 640px;
    height: 442px;
}
#section1{
    height: 640px;
    top: 0px;
}
#section2{
	top: 638px;
}
#pfijo1{
    color: white;
    font-family: precio;
    font-size: 145px;
    padding: 90px 0px 0px 0px;
    display: table;
}
#cfijo1{
    color: white;
    display: flex;
    font-family: precio;
    font-size: 60px;
	padding: 105px 0px 0px 0px;
}
#namefijo1{
    color: white;
    font-family: Articulo;
    font-size: 47px;
    text-align: center;
    width: 475px;
    height: 220px;
    padding: 10px 82.5px;
    letter-spacing: -1px;
}
#pfijo2{
    color: white;
    font-family: precio;
    font-size: 145px;
    padding: 90px 0px 0px 0px;
    display: table;
}
#cfijo2{
    color: white;
    display: flex;
    font-family: precio;
    font-size: 60px;
	padding: 105px 0px 0px 0px;
}
#namefijo2{
    color: white;
    font-family: Articulo;
    font-size: 47px;
    text-align: center;
    width: 475px;
    height: 220px;
    padding: 10px 82.5px;
    letter-spacing: -1px;
}

.precio{
	display: flex;
    justify-content: center;
}