*{
    margin: 0;
}

html{
 background: black;
}

body{
	background-image:url("../res/img/salchi.png");
    background-repeat: no-repeat;
    width: 1920px;
    height: 1080px;
}

header{
    background-image:url("../res/img/titulo.jpg");
    background-repeat: no-repeat;
    position: absolute;
	right: 0px;
    width: 645px;
    height: 1080px;
    float: left;
}

main{
    width: 1487px;
    height: 1080px;
}

.descripcion{
    width: 550px;
    height: 141px;
    position: absolute;
}

@font-face{
    font-family: "Precio";
    font-stretch: expanded;
    src: url("../fuente/MyriadPro-Bold.otf");
}

@font-face{
    font-family: "Articulo";
    font-stretch: expanded;
    src: url("../fuente/MyriadPro-BoldCond.otf");
}
.centavo{
	width: 37px;
    height: 141px;
    font-family: "Precio";
    position: absolute;
    top: 0px;
    left: 174px;
    line-height: 110px;
    font-size: 25px;
    letter-spacing: 1px;
}

.money{
	padding: 21px 10px;
    width: 165px;
    height: 99px;
    font-family: "Precio";
    font-size: 85px;
    text-align: right;
    letter-spacing: -10px;
    line-height: 100px !important;
}

.articulo{
	    position: absolute;
    top: 0px;
    left: 215px;
    width: 390px;
    height: 127px;
    font-family: "Precio";
    font-size: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#marco{
    width: 550px;
    position: absolute;
    height: 706px;
    top: 374px;
    left: 15px;
}
#espacio1{
	position:absolute;
	width: 550px;
    height: 142px; 
}
#espacio2{
    position:absolute;
	width: 550px;
    height: 141px;
    top: 146px;
}
#espacio3{
    position:absolute;
	width: 550px;
    height: 143px;
    top: 291px;
}
#espacio4{
    position:absolute;
	width: 550px;
    height: 142px;
    top: 438px;
}
#espacio5{
    position:absolute;
	width: 550px;
    height: 121px;
    top: 584px;
}
#precio1{
    position: absolute;
    left: -10px;
}
#precio2{
    position: absolute;
    left: -10px;
}
#precio3{
    position: absolute;
    left: -10px;
}

#precio4{
    position: absolute;
    left: -10px;
}

p{
    font-size: 35px;
    width: 270px;
    height: 100px;
}
video{
	width: 1274px;
    height: 638px;
    position: absolute;
}
#imag1{
	float: left;
}
.seccion{
	position: absolute;
    left: 0px;
    width: 1274px;
    height: 442px;
}
#secImag1{
	background-image:url("../res/img/precio1.png");
    background-repeat: no-repeat;
    width: 640px;
    height: 442px;
    position: absolute;
    top: 0px;
}
#secImag2{
	background-image:url("../res/img/precio2.png");
    background-repeat: no-repeat;
    width: 640px;
    position: absolute;
    top: 0px;
    left: 640px;
    height: 442px;
}
#section1{
    height: 638px;
    top: 0px;
}
#section2{
	top: 638px;
}
#pfijo1{
        color: white;
    display: flex;
    font-family: precio;
    font-size: 145px;
    justify-content: flex-end;
    width: 420px;
    height: 130px;
    float: left;
    padding: 80px 0px 20px 0px;
}
#cfijo1{
    color: white;
    display: flex;
    font-family: precio;
    font-size: 60px;
    width: 100px;
    padding: 95px 0px 0px 0px;
}
#namefijo1{
    color: white;
    display: flex;
    font-family: Articulo;
    font-size: 47px;
    justify-content: center;
    text-align: center;
    width: 475px;
    height: 220px;
    padding: 10px 82.5px;
    line-height: 50px;
    letter-spacing: -1px;
}
#pfijo2{
    color: white;
    display: flex;
    font-family: precio;
    font-size: 145px;
    justify-content: flex-end;
    width: 420px;
    height: 130px;
    float: left;
    padding: 80px 0px 20px 0px;
}
#cfijo2{
    color: white;
    display: flex;
    font-family: precio;
    font-size: 60px;
    width: 100px;
    padding: 95px 0px 0px 0px;
}
#namefijo2{
    color: white;
    display: flex;
    font-family: Articulo;
    font-size: 47px;
    justify-content: center;
    text-align: center;
    width: 475px;
    height: 220px;
    padding: 10px 82.5px;
    line-height: 50px;
    letter-spacing: -1px;
}