<template>
    <div class="my-4 flex">
        <jet-button class="bg-yellow-700 hover:bg-yellow-600 mx-2">
            Reiniciar App
        </jet-button>
        <jet-button class="bg-green-900 hover:bg-green-700 mx-2">
            Reiniciar
        </jet-button>
        <label class="mx-2 flex items-center" id="labelRotation">Rotation</label>
        <div class="mx-2 relative">
            <button class="px-3 py-2 bg-yellow-600 hover:bg-yellow-700 rounded-l text-white dropdown-toggle" type="button"
                id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">{{rotacion}}</button>
            <button class="px-3 py-2 bg-yellow-600 hover:bg-yellow-700 rounded-r text-white dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="z-10 bg-white dropdown-menu">
                <li><a @click="PortraitControl('off')">Off</a></li>
                <li><a @click="PortraitControl(90)">90º</a></li>
                <li><a @click="PortraitControl(180)">180º</a></li>
                <li><a @click="PortraitControl(270)">270º</a></li>
            </ul>
        </div>
    </div>
    <div class="flex">
        <div class="w-1/3">
            <div class="slidecontainer col-xs-12">
                <input type="range" min="1" max="100" v-model="iluminacion" class="slider" id="rangeBacklight"
                    @change="PicturePropertyControl('Backlight')">
                <div class="flex justify-between">
                    <div class="w-3/4 slider-label">Iluminacion</div>
                    <div class="w-1/4 slider-value"><span id="valBacklight">{{iluminacion}}</span></div>
                </div>
                <input type="range" min="1" max="100" v-model="brillo" class="slider" id="rangeBrightness"
                    @change="PicturePropertyControl('Brightness')">
                <div class="flex justify-between">
                    <div class="w-3/4 slider-label">Brillo</div>
                    <div class="w-1/4 slider-value"><span id="valBrightness">{{brillo}}</span></div>
                </div>
                <input type="range" min="1" max="100" v-model="contraste" class="slider" id="rangeContrast"
                    @change="PicturePropertyControl('Contrast')">
                <div class="flex justify-between">
                    <div class="w-3/4 slider-label">Contraste</div>
                    <div class="w-1/4 slider-value"><span id="valContrast">{{contraste}}</span></div>
                </div>
                <div class="flex justify-between">
                    <div class="w-11/12 flex items-center">
                        <input type="range" min="1" max="100" v-model="sonido" class="slider" id="rangeSound" onchange="soundControl()">
                    </div>
                    <div class="w-1/12 flex items-center">
                        <button class="ml-2 w-3/4 h-7 mute sound" id="btnMuted" @click="SoundOnOffControl"></button>
                    </div>
                </div>
                <div class="flex justify-between items-center">
                    <div class="w-3/4 slider-label" id="sliderLabelSound">Volumen</div>
                    <div class="w-1/4 slider-value" id="sliderValueSound"><span id="valSound">{{sonido}}</span></div>
                </div>
            </div>
        </div>
        <div class="w-1/3">
            <div class="flex justify-between items-center px-16 mb-3">
                <label class="control-label col-xs-7 label-form-display">Imagen Actual</label>
                <div class="col-xs-5" id="divCaptureBtn">
                    <jet-button class="bg-red-800 hover:bg-red-700 mx-2" @click="commandOnly('captureScreen')">
                        Captura
                    </jet-button>
                </div>
            </div>
            <div class="w-full flex justify-center items-center" id="divCurrentImg">
                <img class="w-108 h-60 screenshot" id="currentImage">
            </div>
        </div>
        <div class="w-1/3">
            <div class="h-2/5">
                <label class="radio upgrade-label">Actualizar Firmware</label>
                <div class="flex justify-between items-center">
                    <input id="inputURL" class="border-2 rounded w-3/4" placeholder="Enter firmware download url here">
                    <jet-button class="bg-red-800 hover:bg-red-700 mx-2" @click="upgradeControl('firmware')">
                        Actualizar
                    </jet-button>
                </div>
                <div class="flex justify-between items-center my-2">
                    <label class="radio upgrade-label">Download Firmware</label>
                    <div class="progress">
                        <div id="progressFWDownload" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" onchange="">
                            0%</div>
                    </div>
                </div>
                <div class="flex justify-between items-center my-2">
                    <label class="radio upgrade-label">Upgrade
                        Firmware</label>
                    <div class="progress" id="progressbarUpgrade">
                        <div id="progressFWUpgrade" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" onchange="">
                            0%</div>
                    </div>
                </div>
            </div>
            <div class="h-1/2">
                <label class="col-xs-12 label-upgrade-app">Fully Qualified Domain name</label>
                <div class="flex justify-between items-center">
                    <input id="inputFQDN" class="border-2 rounded w-3/4" required="" placeholder="Enter remote server url here">
                    <jet-button class="bg-red-800 hover:bg-red-700 mx-2" @click="upgradeControl('app')">
                        Upgrade
                    </jet-button>
                </div>
                <div class="flex justify-between items-center">
                    <div class="flex flex-col justify-between items-start w-2/5">
                        <div class="col-xs-6 label-upgrade-app">Application Launch mode</div>
                        <div class="col-xs-6 label-upgrade-app">Local Application Upgrade</div>
                        <div class="col-xs-6 label-upgrade-app">USB Application Upgrade</div>
                        <div class="col-xs-6 label-upgrade-app">Type</div>
                    </div>
                    <div class="flex flex-col justify-between items-start w-3/5">
                        <div class="flex justify-start items-center w-full">
                            <label class="mr-2 w-20">
                                <input type="radio" id="localOptions" v-model="launchMode" name="Appmode" value="Local">Local
                            </label>
                            <label class="mr-2 w-20">
                                <input type="radio" id="USBOptions" v-model="launchMode" name="Appmode" value="USB" checked="">USB
                            </label>
                            <label class="mr-2 w-20">
                                <input type="radio" id="RemoteOptions" v-model="launchMode" name="Appmode" value="Remote">Remote
                            </label>
                        </div>
                        <div class="flex justify-start items-center">
                            <label class="mr-2 w-20">
                                <input type="radio" name="localApp" v-model="LapplicationUpgrade" value="usb" checked="" disabled="" data-original-title="" title="">USB
                            </label>
                            <label class="mr-2 w-20">
                                <input type="radio" name="localApp" v-model="LapplicationUpgrade" value="Remote" disabled="">Remote
                            </label>
                        </div>
                        <div class="flex justify-start items-center">
                            <label class="mr-2 w-20">
                                <input type="radio" name="USBApp" v-model="UapplicationUpgrade" value="Remote" checked="">Remote
                            </label>
                        </div>
                        <div class="flex justify-start items-center">
                            <label class="mr-2 w-20">
                                <input type="radio" id="valIPK" v-model="Type" name="valType" value="IPK" disabled="" data-original-title="" title="">IPK
                            </label>
                            <label class="mr-2 w-20">
                                <input type="radio" id="valZIP" v-model="Type" name="valType" value="ZIP" checked="" data-original-title="" title="">ZIP
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</template>

<script>
import { defineComponent } from 'vue'
import JetButton from '@/Jetstream/Button.vue';

export default defineComponent({
    components: {
        JetButton
    },
    props:['slug'],
    data(){
        return{
            rotacion:'Off',
            iluminacion:'50',
            brillo:'50',
            contraste:'50',
            sonido:'50',
            mute:false,
            launchMode:'USB',
            LapplicationUpgrade:'usb',
            UapplicationUpgrade:'Remote',
            Type:'ZIP'
        };
    },
    mounted(){
        let dropdown = document.querySelectorAll('.dropdown-toggle');
        dropdown.forEach(el => {
            el.addEventListener('click',()=>{
                el.parentNode.classList.toggle('open');
            });
        });
    },
    methods:{
        PortraitControl(value) {
            if(value==="off") this.rotacion = 'Off';
            else this.rotacion = value+"º";
            var object = {
                degree : value
            }
            this.$inertia.socket.to(this.slug).emit('commandWithObj', 'setNativePortraitMode', object);
        },
        SoundOnOffControl(evt){
            evt.target.classList.toggle('sound');
            if(evt.target.classList.contains('sound')){this.mute = false}else{this.mute = true}
        },
        PicturePropertyControl(evt){

        },
        upgradeControl(evt){

        },
        commandOnly(evt){

        }
    }
})
</script>
